@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  font-family: Gruppo;
}
@media (max-width: 639px) {
    .sms\:grid-cols-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}